<div class="container position-relative">
  <h1 class="text-center my-4">My bookings (as owner)</h1>
  <div class="row">
    <% if current_user.bookings_as_owner.length >= 1 %>
      <% current_user.bookings_as_owner.each do |booking| %>
        <%= render booking  %>
      <% end %>
    <% else %>
      <h6 class="text-center">No bookings yet</h6>
    <% end %>
  </div>


<div class="container position-relative">
  <h1 class="text-center my-4">My bookings (as owner)</h1>
  <div class="row">
    <% if current_user.bookings_as_owner.length >= 1 %>
      <% current_user.bookings_as_owner.each do |booking| %>
        <%= render booking  %>
      <% end %>
    <% else %>
      <h6 class="text-center">No bookings yet</h6>
    <% end %>
  </div>



  <%= link_to root_path, class: "btn btn-outline-secondary rounded-circle position-absolute top-0 start-0" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
</div>
