<div class="container position-relative">
  <h1 class="text-center my-4">My bookings</h1>
  <div class="row">
    <% if @bookings.length >= 1 %>
      <% @bookings.each do |booking| %>
        <%= render booking  %>
      <% end %>
    <% else %>
      <h6 class="text-center">No bookings yet, <%= link_to "All products", products_path %></h6>
    <% end %>
  </div>

  <%= link_to root_path, class: "btn btn-outline-secondary rounded-circle position-absolute top-0 start-0" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
</div>
