<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-vector/aisle-grocery-store-shelves-vector-background_107791-19118.jpg?t=st=1716821632~exp=1716825232~hmac=2fd2d5a42df3d25ab5ea8cdad476dabf8dd170c174950a6e93884df422f66e81&w=1800);">
  <div class="container">
    <h1><strong>AliBobo</strong></h1>
    <p>Rent everything you want</p>
  </div>
  <div>
    <form class="d-flex px-5" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <div></div>
      <div></div>
      <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>
</div>
