<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><strong>Aliobo</strong></h1>
    <p>Rent everything you want</p>
  </div>
  <div>
    <form class="d-flex px-5" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <div></div>
      <div></div>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>
