.search-form {
  background-color: red;
  padding: 15px;
  border-radius: 8px;
}

.search-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.price-filter-form {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
}

.custom-range {
  width: 100%;
}

.apply-btn {
  width: 100%;
}
