<div class="container mt-3">
  <div class="row pb-3">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://live.staticflickr.com/2184/2243088749_6688158d31_c.jpg)">Our products</div>
  </div>

  <div class="card-deck row row-cols-4 g-4">
    <%= render @products %>
  </div>
</div>
