<div class="container">
  <div class="card-deck row">
    <% @products.each do |product|%>
      <div class="card col-3 gap-5">
        <img class="card-img-top" src="https://www.couturierparisien.fr/574-large_default/chemise-homme-blanche-popeline-de-coton-col-francais.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= product.title.capitalize %></h5>
          <h6 class="card-title"><%= product.category.upcase %></h6>
          <p class="card-text"><%= product.description %></p>
          <p class="card-text"><small class="text-muted"> $AUS <%= product.price %> </small></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
