<h1 class="text-center mt-3">My Products</h1>

<div class="container mt-4 d-flex justify-content-center">
  <div class="row">
    <% if @products.length >= 1 %>
      <% @products.each do |product| %>
        <%= render product %>
      <% end %>
    <% else %>
      <h6>No porducts yet, <%= link_to "Add product", new_product_path %></h6>
    <% end %>
  </div>
</div>
