<h1 class="text-center mt-2" style="height: 75vh">My Products</h1>

<div class="container mt-2">
  <div class="row d-flex flex-wrap justify-content-center">
    <% if @products.length >= 1 %>
      <% @products.each do |product| %>
        <div class="col-md-4 mb-4">
            <%= render product %>
        </div>
      <% end %>
    <% else %>
      <div class="col-12 text-center mt-4">
        <h6>No products yet, <%= link_to "Add product", new_product_path %></h6>
      </div>
    <% end %>
  </div>
</div>
